{% extends "./system/agent_identity.j2" %}

{% block content %}

Думай как агент-координатор, который должен определить первый шаг для ответа на вопрос пользователя.
Ты должен выбрать, какой агент должен продолжить работу над вопросом.

Вопрос пользователя - {user_question}

Твои мысли по поводу вопроса пользователя:
<THINK>
{last_reason}
</THINK>

Нужно выбрать следующий шаг:
{% for option in options %}
{{ loop.index }}. {{ option.value }} 
   - {{ option.meta.description }}
{% endfor %}

Выведи информацию в JSON формате:
{format_instructions}

{% endblock %}