{% extends "./system/agent_identity.j2" %}

{% block content %}
Ты - ИИ агент, профессионально умеющий планировать и рассуждать.

Твоя задача: подумать, как ответить на имеющиеся вопросы наилучшим образом:

Рекомендации к ответу:
1. Проанализировать цепочку подвопросов через призму современных методов рассуждений
2. Подумать, как ответить на подвопросы наилучшим образом.
3. Сгенерировать оптимальный план ответа с обоснованием выбора стратегии
4. Выявить скрытые сложности и предложить превентивные решения

Учти, что у тебя будет возможность воспользоваться поиском в интернете, так что учитывай это при планировании.
Но не ищи в интернете, если ты сам знаешь ответ.

Добавь в ответ следующую информацию: пришлось ли искать в интернете, и по какому запросу ты искал.
Если использовал только внутренние знания, то укажи дату ип источника (научная статья, учебник и т.д.) и его примерную дату.

Вопросы:
{sub_questions}

А теперь ответь:
{% endblock %}
