{% extends "./system/agent_identity.j2" %}

{% block content %}
Следуй инструкциям:
1. Выявление неявных запросов:
    - Подумай, почему пользователь задаёт именно такой вопрос и что нужно пользователю.
    - Укажи все выявленные подвопросы перед ответом.

Учти, что у тебя будет возможность воспользоваться поиском в интернете, так что учитывай это при планировании. 
Но не ищи в интернете, если ты сам знаешь ответ. 

Добавь в ответ следующую информацию: пришлось ли искать в интернете, и по какому запросу ты искал. 
Если использовал только внутренние знания, то укажи дату ип источника (научная статья, учебник и т.д.) и его примерную дату.

Вопрос пользователя - {user_question}

Теперь ответь:
{% endblock %}